@import './base.css';

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  font-weight: normal;*/
/*}*/

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /*#app {*/
  /*  display: grid;*/
  /*  grid-template-columns: 1fr 1fr;*/
  /*  padding: 0 2rem;*/
  /*}*/
}

/* 重置浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /*height: 100%;*/
  width: 100%;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

/* 设置滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* element-plus 组件样式覆盖 */
.el-table {
  --el-table-border-color: #e6e6e6;
}

.el-form--inline .el-form-item {
  margin-right: 16px;
}

.el-dialog {
  margin-top: 8vh !important;
}

.el-dialog__body {
  padding: 20px 40px;
}

.el-menu {
  border-right: none !important;
}
